# KlipperAI Moonraker integration
#
# Include this file from moonraker.conf with:
#   [include klipperai/klipperai-moonraker.cfg]
#
# Moonraker also needs klipperai-agent added to printer_data/moonraker.asvc
# so the service can be restarted through Moonraker/Mainsail.

[update_manager klipperai-agent]
type: git_repo
channel: dev
path: /home/pi/KlipperAI
origin: https://github.com/meltiseugen/KlipperAI.git
primary_branch: main
managed_services: klipperai-agent
info_tags:
    desc=KlipperAI
